<?xml version="1.0"?>
<root>
    <collision>
        <origin rpy="0 0 0" xyz="0 0 0.076" />
        <geometry>
            <cylinder length="0.165" radius="0.044" />
        </geometry>
    </collision>
    <collision>
        <origin rpy="0 0 0" xyz="0 0.028 0.094" />
        <geometry>
            <box size="0.08 0.015 0.058" />
        </geometry>
    </collision>   
</root>
