<launch>
	<arg name="gui" default="False" />
	<arg name="kinova_robotType" default="j2n6a300" />
	<arg name="simplified_collision" default="0" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kinova_description)/urdf/$(arg kinova_robotType)_standalone.xacro' simplified_collision:=$(arg simplified_collision)" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>

